<!DOCTYPE HTML>

<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="author" content="Yosbel Marin" />
  <title>{{ page.title }}</title>
  <style type="text/css">
    body {
        background: #FFFAFE;
        max-width: 960px;
        margin: auto;
    }

    a, a:hover, a:active, a:visited {
        color: #269abc;
        border-bottom: 2px solid #269abc;
    }
  </style>
  </head>
  <body>
      <header>
        <h1><a href="/">{{ page.title }}</a></h1>
      </header>
      <section>
        {{ content }}
      </section>
  </body>
</html>
